.nav-link.nav-link-border {
  border-bottom: 3px solid transparent;

  padding-bottom: 5px;

}

.nav-link.nav-link-border.active {
  border-color: #E2DBD4;

}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke=' rgb(238, 238, 238)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(238, 238, 238);
}

.navbar-nav .nav-link {
  position: relative;
  padding-bottom: 0.5rem;
}

.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #E2DBD4;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link:focus::after,
.navbar-nav .nav-link.active::after {
  visibility: visible;
  transform: scaleX(1);
}

.edicao_nome {
  margin-top: 35px;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
}


@media (min-width: 320px) and (max-width: 360px) {
  .card_filtro {
    margin-top: 10%;
  }
}

@media (max-width: 430px) {
  .imagem_logo {
    width: 270px;
  }
}

@media screen and (max-width: 767px) {
  .card_perfil {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 805px) {

  .navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
  }

  .card_filtro {
    position: fixed;
    top: 8%;
    left: 0;
    width: 23%;
    padding-bottom: 10px;


  }

  .card_perfil {
    position: fixed;
    top: 8%;
    margin-left: -17px;
   

  }
}

@media (min-width: 806px) and  (max-width: 948px){
  .card_filtro {
    top: 8%;
    left: 0;
    width: 23%;
    padding-bottom: 10px;

  }

  .card_perfil {
    position: fixed;
    top: 8%;
    margin-left: -17px;

  }
}

@media (min-width: 949px)  and  (max-width: 992px){
  .card_filtro {
    position: fixed;
    top: 8%;
    left: 0;
    width: 23%;
    padding-bottom: 10px;

  }

  .card_perfil {
    position: fixed;
    top: 8%;
    margin-left: -17px;

  }
}

@media (width: 992px) {
  .card_filtro {
    position: fixed;
    top: 10%;
    left: 0;
    width: 23%;

  }

  .card_perfil {
    position: fixed;
    top: 10%;
    margin-left: -16px;

  }
  
}


@media (min-width: 993px) and (max-width:1366px){
  .card_filtro {
    position: fixed;
    top: 10%;
    left: 0;
    width: 23%;

  }

  .card_perfil {
    position: fixed;
    top: 10%;
    margin-left: -16px;

  }
  
}



@media (min-width: 1400px) and (max-width:1760px) {
  .card_filtro {
    position: fixed;
    top: 10%;
    left: 0;
    width: 23%;

  }

  .card_perfil {
    position: fixed;
    top: 10%;
    margin-left: -16px;

  }
  
}


@media (min-width:1920px){
  .card_filtro{
  position: fixed;
  top: 8%;
  left: 0;
  width: 23%;
}

.card_perfil {
  position: fixed;
  top: 8%;
}
}

@media (max-height: 1080px){
  .card_filtro {
      overflow-y: scroll; 
      max-height: 820px;
      
  }
}

@media (height: 990px){
  .card_filtro {
      overflow-y: scroll; 
      max-height: 745px;
      
  }
}


@media (max-height: 900px){
  .card_filtro {
      overflow-y: scroll; 
      max-height: 650px;
      
  }
}

@media (max-height: 768px){
  .card_filtro {
      overflow-y: scroll; 
      max-height: 550px;
      
  }
}

@media (max-height: 720px){
  .card_filtro {
      top: 11%;
      overflow-y: scroll; 
      max-height: 500px;
      
  }
  .card_perfil {
    position: fixed;
    top: 10%;
    font-size: 0;
    margin-left: -16px;

  }
}

@media (max-height: 600px){
  .card_filtro {
      overflow-y: scroll; 
      max-height: 400px;
      top: 15%
      
  }
  .card_perfil { 
    top: 14%;
    font-size: 0;
    margin-left: -16px;

  }
}