body {
    background-image: url("{{ url_for('static', filename='Imagens/Purplin.png') }}");
    background-size: cover;
}

.card {
    width: 100%;
     
    margin: 0 auto;
}

.card-img {
    height: auto;
    max-width: auto;
}